__pycache__/
pretrained/*
data/*
wandb/*
outputs/*
ckpts/*
mels/*
lightning_logs/*
logs/*

.vscode/*
.cache/*
.gradio/*

kaggle/assets/*
kaggle/outputs/*

!.gitkeep

*.wav
*.mp3
*.flac
*.csv

clean*.py
upload.py
test*.py
viz*.py
!tests/
!tests/**/*.py
